body{
    background-color:hsl(27, 66%, 92% );
    color: hsl(28, 10%, 53%);
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    margin-top: 15%;
    /* font-size: 18px; */
}
main{
    margin: 0 auto;
    max-width: 90%;
}
h2{
    font-size: 1.2rem;
    font-weight: 700;
    color:hsl(25, 47%, 15%) ;
}
canvas{
    cursor: pointer;
}
#top-div{
    background-color: hsl(10, 79%, 65%);
    color:hsl(33, 100%, 98%) ;
    margin-bottom: 5%;
    border-radius: 12px;
    padding: 1% 2%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
#bottom-div{
    background-color:hsl(33, 100%, 98%);
    border-radius: 12px;
    padding: 2%  4%;
}
p{
    font-size: 0.8rem;
}
#left-p{
    text-align: end;
}
span{
    font-size: 1.2rem;
    font-weight: 700;
}
#bottom-div span{
    color: hsl(25, 47%, 15%);
}

#last-total{
    font-size: 0.8rem;
}
hr{
    color:hsl(27, 66%, 92% );
    
}
#total{
    padding: 1% 2%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
@media(min-width:481px){

    main{
        max-width: 70%;
    }
}
@media(min-width:769px){
    main{
        max-width: 50%;
    }

}

@media(min-width:1025px){
    body{
        margin-top: 10%;
    }
    main{
        max-width: 30%;
    }
}
